$font-family: 'Raleway', sans-serif;
$body-color: #09101A;
$cta-bg: #ffffff;

$font-size-mobile-more: 17px;
$font-size-desktop-more: 31px;

$font-size-mobile-accent: 12px;
$font-size-desktop-accent: 14px;

$font-size-mobile-title: 30px;
$font-size-desktop-title: 35px;

$font-size-mobile-paragraph: 14px;
$font-size-desktop-paragraph: 16px;

$font-size-mobile-cta: 14px;
$font-size-desktop-cta: 16px;