@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;900&display=swap');

$font-family: 'Raleway', sans-serif;
$body-color: #09101A;
$cta-bg: #ffffff;

$font-size-mobile-more: 20px;
$font-size-desktop-more: 31px;

$font-size-mobile-accent: 16px;
$font-size-desktop-accent: 14px;

$font-size-mobile-title: 40px;
$font-size-desktop-title: 49px;

$font-size-mobile-paragraph: 16px;
$font-size-desktop-paragraph: 18px;

$font-size-mobile-cta: 14px;
$font-size-desktop-cta: 20px;