.gallery-container {
  position: absolute;
  bottom: 10%;
  left: 9%;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  padding: 10px;
  z-index: 1;
}

.thumbnail-container {
  position: relative;
  border-radius: 10px;
  transition: transform 0.3s;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  transform-origin: bottom center;

  &.selected {
    transform: scale(1.4);
    margin: 0 40px;
    display: flex;
    align-items: center;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      padding: 3px;
      background: linear-gradient(235deg, #fff, #000 45%, #fff);
      border-radius: 12px;
      -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      mask-composite: exclude;
    }

    &.first-selected {
      margin-right: 40px;
      margin-left: 0;
      }
  }

  .thumbnail {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
  }
}

@media (max-width: 768px) {
  .gallery-container {
      left: 9%;
      bottom: 8%;
      padding: 10px;
      z-index: 1;
  }

  .thumbnail-container {
      transform-origin: initial;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      height: 100px;
      gap: 12px;
      flex-wrap: wrap;

      &.selected {
        transform: none;
        width: 100px;
        height: 100px;
        margin: 0;
        &::before {
            content: '';
            position: absolute;
            top: -4px;
            left: -4px;
            right: -4px;
            bottom: -4px;
            background: linear-gradient(235deg, #fff, #000 45%, #fff);
            border-radius: 12px;
            -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude;
        }
  
        
        &.first-selected {
            margin-right: 0;
            margin-left: 0;
            }
      }
      
      .thumbnail {
          width: 100px;
          height: 100px;
          object-fit: cover;
          position: relative;
          cursor: pointer;
          border: 2px solid transparent;
          border-radius: 10px;
      }
     
  }
}